
.menu input#dropdown, .menu label{
		display:none;
		position:absolute;
		top:5px;
		right:14px;
		width:46px;
		height:35px;
		}
	.menu input#dropdown{
		opacity:0;
		}
	.menu label{
		background:#222 url(../images/list_icon.png) no-repeat center;
		webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
		}
	.menu label:hover{
		cursor:pointer;
		}
	.menu input#dropdown:checked ~ label{
		-webkit-box-shadow:inset 0 0 28px #2A2A2A, inset 0 0 6px #1A1A1A;
		-moz-box-shadow:inset 0 0 28px #2A2A2A, inset 0 0 6px #1A1A1A;
		box-shadow:inset 0 0 28px #2A2A2A, inset 0 0 6px #1A1A1A;
		}
	.menu input#dropdown:checked ~ ul{
		display:block;
		}	
	.menu p{
		display:none;
		position:absolute;
		top:12px;
		left:14px;
		margin:0;
		font:19px Arial, Helvetica, sans-serif;
		color:#9E9E9E;
		}
@media only screen and (max-width: 1024px){
	.menu{
		width:95%;
		}
	.menu #search_box{
		display:none;
		}
	.menu ul ul{
		margin:0;
		}
	}
@media only screen and (max-width: 768px){
	.menu input, .menu label, .menu p{
		display:block;
		}
	.menu{
		width:62%;
		min-height:46px;
		height:100%;
		position:relative;
		overflow:hidden;
		}
	.menu ul {
		margin-top:46px;
		display:none;
		}
	.menu ul li{
		width:100%;
		}
	.menu ul li a{
		height:40px;
		line-height:42px;
		font-size:18px;
		}
	.menu ul ul{
		width:100%;
		display:block;
		position:static;
		visibility:visible;
		opacity:1;
		margin:0;
		padding:0;
		overflow:hidden;
		border:none;
		background:none;
		}
	.menu ul ul li{
		width:25%;
		float:left;
		border:none;
		}
	.menu ul ul li a{
		width:auto;
		padding:0;
		text-align:center;
		color:#888;
		}
	.menu ul ul li:hover a{
		background:#9C0;
		}
	.menu ul ul ul, .menu ul ul li a span{
		display:none;
		}
	}
@media only screen and (max-width: 480px) {
	.menu{
		width:92%;
		}
	}