body{
	margin:0;
	}
/* ========== MAIN DIV THAT HOLDS THE ENTIRE MENU ========== */

.menu-outside{
	/*width:980px; */
	height:50px; 
	margin:20px auto 0; 
	background:#10B0A6; 
	/*border-bottom:solid 4px #9C0;*/
	border-bottom: solid 4px #009999;
	-webkit-box-shadow:0 0 0px #ffffff;
	-moz-box-shadow:0 0 0px #ffffff;
	box-shadow:0 0 0px #ffffff;
	
	/*-webkit-box-shadow:0 0 4px #BBBBBB;
	-moz-box-shadow:0 0 4px #BBBBBB;
	box-shadow:0 0 0px #BBBBBB;*/
}

.menu{
	width:1145px; 
	height:50px; 
	margin:20px auto 0; 
	background:#10B0A6; 
	/*border-bottom:solid 4px #9C0;*/
	border-bottom: solid 4px #009999;
	-webkit-box-shadow:0 0 0px #ffffff;
	-moz-box-shadow:0 0 4px #ffffff;
	box-shadow:0 0 0px #ffffff;
	
	
	/*-webkit-box-shadow:0 0 4px #BBBBBB;
	-moz-box-shadow:0 0 4px #BBBBBB;
	box-shadow:0 0 0px #BBBBBB;*/
	}
/* ========== DIV THAT HOLDS MAIN LINKS ========== */
.menu ul{
	margin:0; 
	padding:0; 
	float:left; 
	list-style:none;
	}
/* ========== MAIN LINKS ========== */
.menu ul li{
	position:relative;
	float:left; 
	}
.menu ul li a{
	display:block;
	height:50px; 
	padding:0 15px; 
	font:15px/45px 'Anaheim', sans-serif; 
	color:#ffffff; 
	text-transform:uppercase; 
	text-decoration:none;
	-webkit-transition:background 190ms ease-in, color 190ms ease-in;
	-moz-transition:background 190ms ease-in, color 190ms ease-in;
	-ms-transition:background 190ms ease-in, color 190ms ease-in;
	-o-transition:background 190ms ease-in, color 190ms ease-in;
	transition:background 190ms ease-in, color 190ms ease-in;
	}
/* ========== MAIN LINKS ON MOUSEOVER  ========== */
.menu ul:hover li.active > a{
	background:#10B0A6; 
	color:#ffffff; 
	border-bottom: solid 4px #009999;
	}	
.menu ul li.active > a, .menu ul li:hover > a, .menu ul li.active:hover > a{
	background:#009999 ; 
	color:#FFF; 
	}
/* ========== MAIN LINKS ON MOUSE CLICK ========== */	
.menu ul li a:active, .menu ul li.active a:active{
	color:#FFFFFF;
	}
/* ========== DROPDOWN MENU ========== */
.menu ul ul{
	position:absolute;
	visibility:hidden;
	opacity:0;
	margin-left:-22px;
	padding-top:0px; 
	/*background:#9C0; */
	/*background: rgba(0, 153, 153, 0.9);*/
	background: #009999;
	border-bottom:solid 2px #00898A;
	-webkit-border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	-webkit-transition:all 240ms ease-out 20ms;
	-moz-transition:all 240ms ease-out 20ms;
	-ms-transition:all 240ms ease-out 20ms;
	-o-transition:all 240ms ease-out 20ms;
	transition:all 240ms ease-out 20ms;
	}
.menu ul li:hover > ul{
	visibility:visible;
	opacity:1;
	margin-left:0;
	}
/* ========== LINKS IN DROPDOWN MENU ========== */
.menu ul ul li{
	cursor:pointer;
	border:solid 1px #00898A;
	border-bottom:none;
	}
.menu ul ul li a{
	width:200px; 
	height:31px;
	padding-right:0; 
	font-size:13px; 
	color:#FFF; 
	line-height:32px;
	text-transform:none;
	}
.menu ul ul li span{
	position:absolute;
	top:0;
	right:10px;
	font-size:16px; 
	}
/* ========== LINKS ON MOUSEOVER IN DROPDOWN MENU ========== */
.menu ul ul li:hover > a{
	background:#00898A;
	}
/* ========== LINKS ON MOUSE CLICK IN DROPDOWN MENU ========== */
.menu ul ul li a:active{
	color:#CCC; 
	}
/* ========== DROPDOWN MENU LVL 2,3,4,... ========== */
.menu ul ul ul{
	top:-1px;
	left:100%;
	padding:0;
	}
/* ========== SEARCH BOX ========== */
#search_box{
	margin:6px 6px 0 0;
	color: #FFFFFF;
	float:right; 
	border:solid 1px #009999;
	}
/* ========== SEARCH FIELD ========== */	
#search_box input[type="text"]{
	width:160px; 
	height:24px; 
	padding:3px 4px 0;
	float:left; 
	font:15px/25px 'Anaheim', sans-serif; 
	color:#FFFFFF; 
	background:#10B0A6;
	border:none;
	-webkit-transition:color 200ms linear;
	-moz-transition:color 200ms linear;
	-ms-transition:color 200ms linear;
	-o-transition:color 200ms linear;
	transition:color 200ms linear;
	}
/* ========== SEARCH BUTTON ========== */
#search_box input[type="submit"]{
	width:28px; 
	height:28px; 
	float:left; 
	background-image:url(../images/search_icon.png); 
	background-color:#333; 
	border:none;
	cursor:pointer;
	}