.cover-album {
    width: 100%;
    height: 187px;
}
.login-box {
    margin-top: 30px;
    padding-top: 30px;
}
#view_img {
    max-width: 150px;
}

.galeri-item {
    width: 100%;
    height: 187px;
    cursor: pointer;
    border-radius: 0px 0px 3px 3px;
}

.radius {
    border-radius: 5px;
}

.inp-cari {
    max-width: 200px;
}

textarea {
    height: auto;
    resize: vertical;
}

.org_box {
    max-width: 150px;
    border: 1px solid #ffff00;
    border-radius: 3px;
    padding: 5px;
}
.org_line_vertical {
    max-width: 1px;
    min-height: 50px;
    border-left: 1px solid #ffff00;
}

.org_line_horizontal {
    max-height: 1px;
    border-bottom: 1px solid #ffff00;
    min-width: 100%;
}