* {margin: 0; padding: 0;}

.tree
{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tree ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 0px 0px 0px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #ccc;
    width: 50%; height: 20px;
}
.tree li:after{
    right: auto; left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #ccc;
    width: 0; height: 20px;
    margin-left: -1px;
}

.tree li a{
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-size: 11px;
    display: inline-block;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
    background: dodgerblue; color: #ffffff; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
    border-color:  #94a0b4;
}


.treedua
{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.treedua ul {
    padding-top: 20px;
    position: relative;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.treedua li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 0px 0 0px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.treedua li::before, .treedua li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #ccc;
    width: 50%; height: 20px;
}
.treedua li:after{
    right: auto; left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.treedua li:only-child::after, .treedua li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.treedua li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.treedua li:first-child::before, .treedua li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.treedua li:last-child::before{
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.treedua li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.treedua ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #ccc;
    width: 0; height: 20px;
    margin-left: -1px;
}

.treedua li a{
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    display: inline-block;
    font-size: 12px;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;

    cursor: pointer;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.treedua li a:hover, .treedua li a:hover+ul li a {
    background: #10B0A6; color: #ffffff; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.treedua li a:hover+ul li::after,
.treedua li a:hover+ul li::before,
.treedua li a:hover+ul::before,
.treedua li a:hover+ul ul::before{
    border-color:  #94a0b4;
}

li a.just-line {
    display: none;
}
a.just-line + ul {
    padding-top: 74px;
}
a.just-line + ul:before {
    height: 74px;
}


/* calendar */
table.calendar {
    border-left: 1px solid #999;
}

tr.calendar-row {
}

td.calendar-day {
    min-height: 80px;
    font-size: 11px;
    position: relative;
}

* html div.calendar-day {
    height: 80px;
}

td.calendar-day:hover {
    background: #eceff5;
}

td.calendar-day-np {
    background: #eee;
    min-height: 80px;
}

* html div.calendar-day-np {
    height: 80px;
}

td.calendar-day-head {
    background: #ccc;
    font-weight: bold;
    text-align: center;
    width: 100px;
    padding: 5px;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

div.day-number {
    background: #999;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    float: right;
    margin: -5px -5px 0 0;
    width: 20px;
    text-align: center;
}

/* shared */
td.calendar-day, td.calendar-day-np {
    width: 100px;
    padding: 5px;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
}

.ccb {
    color: #ffffff;
    background-color: #10b0a6;
    padding: 2px;
    border-radius: 2px;
    margin-bottom: 4px;
    cursor: pointer;
}

.ccbx {
    color: #ffffff;
    background-color: #10b0a6;
    padding: 2px;
    border-radius: 2px;
    margin-bottom: 4px;
    cursor: pointer;
}