.org-table h3 {
    font-size: 13px;
    margin: 0;
    line-height: 16px;
    color: #02A393;
}

.org-table, .org-inner-table {
  border-collapse: inherit;
  font-size: 11px;
  line-height: 11px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #756E6E;
}

.org-inner-table-wrapper {
  border: none;
  background: none;
}

.org-inner-table {
  width: 200px;
}

.org-table tr {
    vertical-align: top;
}

.org-table td {
  height: 30px;
/*  max-width: 200px;*/
  text-align: center;
  padding: 0 0 0 0;
}

.org-table td.org-item {
  padding: 8px;
  background: #EFEFEF;
  border:solid 1px #cdcdcd;
  width: 180px;
}

.org-table td.org-item h3 {
    padding-bottom: 10px;
}

.org-inner-td {
  background: white;
  padding: 8px;
}

.org-inner-table {
  padding: 8px;
  background: #E5E9ED;
}

.org-inner-title {
  border-top: 4px solid #E5E9ED;
  background: #386192;
}

.org-inner-title h3 {
  color: white;
}

.org-inner-subtitle {
  border-bottom: 1px solid #E5E9ED;
}

.org-inner-td:not(.org-inner-subtitle) {
  border-bottom: 8px solid #E5E9ED;
}

.org-bold {
  font-weight: bold;
}

.org-table-subtitle {
  border-bottom: none;
}

.org-border-top {
  border-top: 2px solid #cdcdcdcd;
}

.org-border-right {
  border-right: 2px solid #cdcdcd;
}

.org-border-bottom {
  border-bottom: 2px solid #cdcdcd;
}

.org-border-left {
  border-left: 2px solid #cdcdcd;
}


.org-table input[type="text"],.org-table input[type="file"] {
    text-align: center;
    border: 0;
    border-left: 1px solid #386192;
    border-bottom: 1px solid #386192;
    padding: 3px;
    margin: 2px;
    background: white;
}

.org-table .org-inner-title input[type="file"]{
    background: #386192;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

#pass-foto {
    width: 150px !important;
    height: 200px !important;
    padding: 5px;
    margin: 1px auto;
}
.org-table img{
    height: 100% ;
    width: 100% ;
}

/*==== Style For Organisasi DEN ===*/
.org-table td.org-item-head1{
  padding:10px;
  background: #02A393;
  border:solid 0px #cdcdcd;
  width: 180px;
  color: #ffffff;
  font-size:15px;
  vertical-align:middle;
  text-align:center;
}

.org-table td.org-item-head2{
  padding:10px;
  background: #F5913D;
  border:solid 0px #cdcdcd;
  width: 180px;
  color: #ffffff;
  font-size:15px;
  vertical-align:middle;
  text-align:center;
}

.org-table td.org-item-head1-child-left{
  padding:5px;
  background: #EFEFEF;
  border-left:solid 1px #cdcdcd;
  border-bottom:solid 1px #cdcdcd;
  width: 180px;
  color: #756E6E;
  font-size:12px;
  font-weight:bold;
  vertical-align:middle;
  text-align:right;
}

.org-table td.org-item-head1-child-center{
  padding:5px;
  background: #EFEFEF;
  border-right:solid 1px #cdcdcd;
  border-bottom:solid 1px #cdcdcd;
  border-left:solid 1px #cdcdcd;
  width: 180px;
  color: #756E6E;
  font-size:12px;
  font-weight:bold;
  vertical-align:middle;
  text-align:center;
}

.org-table td.org-item-head1-child-center2{
  padding:5px;
  background: #EFEFEF;
  border-right:solid 1px #cdcdcd;
  border-bottom:solid 1px #cdcdcd;
  width: 180px;
  color: #756E6E;
  font-size:12px;
  font-weight:bold;
  vertical-align:middle;
  text-align:center;
}