
.btn-poll{
	width: 100%;
	margin-bottom: 5px;
	text-align: left;
}
.btn.btn-poll {
    white-space: normal;
}
.icon-poll{
	margin-right: 5px;
	color:rgb(255, 165, 100);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #polling-body p {
        font-size: 11px;
        line-height: 1.1;
    }
    .btn-poll {
        font-size: 10px;
    }
}
